body{
    background-color: rgb(255, 255, 254);
}
.row{
    display: flex;
    height: fit-content;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    min-width: 300px;
    max-width: 750px;
    height: 40vh;
    margin: 0 auto;
}
.screen{
    min-width: calc(300px - 40px);
    max-width: calc(750px - 40px);
    margin: 15px auto;
    background-color: #cecece;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    height: 120px;
}
.enter{
    grid-column-end: span 2;
}
.btn,.enter,.ac,.del{
    background-color: #cecece;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0 8px 10px #00000024);
    color: white;
    font-size: 23px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    transition: linear 0.2s;
}
.btn,.del,.ac,.enter{
    flex: 1 0 0%;
    margin: 5px;
}
@media(max-width: 700px){
    .calculator{
        height: fit-content;
        width: calc(100vw - 20px);
        position: fixed;
        top: 25%;
    }
}   
.container *:hover{
    transform: translateY(-5px);
}
.container *:active{
    background-color: #5a5a5a;
}
.del:active,.ac:active,.enter:active{
    background-color: rgb(242, 164, 18);
}
#result{
    text-align: right;
    width: 100%;
    padding: 15px 15px 0 0;
    background-color: transparent;
    color: #5a5a5a;
    font-size: 50px;
    margin: 0;
}
#operation {
    text-align: right;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    color: #949494;
    font-size: 25px;
    margin: 0;
    padding: 0 15px 0 0;
}
.op{
    animation: op 0.5s;
}
@keyframes op {
    from{
        transform: translateY(-60px);
        font-size: 50px;
        color: #5a5a5a;
    }
    to{
        transform: translateY(0);
        font-size: 25px;
        color: #949494;
    }
}
.enter{
    background-color: orange;
}
.ac,.del{
    background-color: darkorange;
}